* {
    outline: 2px solid transparent;
    border: 2px solid transparent;
    outline-offset: -4px;
}
:focus {
    outline: 2px solid black;
    border: 2px solid white;
    outline-offset: -4px;
}
a.logo {
    display: block;
}
body {
    background-color: #e1ebf0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans Mono';
}
img.logo {
    padding-bottom: 50px;
    padding-top: 50px;
    max-width: 420px;
    height: auto;
}
main {
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
}